.associated-announces .associated-content {
	.associated-element-content {
		align-self: center;
	}
	.element-title, .element-tax {
		line-height: 1;
	}
	figure img {
		max-height: 100px;
		width: auto;
	}
}
